body {
    margin: 0;
    background-color: #f8f9fc;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template: 100px 1fr / 1fr;
    height: 100vh;
    width: 100vw;
}

.header {
    align-self: start;
    user-select: none;
    width: 100%;
    z-index: 2;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.body {
    display: grid;
    grid-template: 1fr 90px / 1fr;
    scroll-behavior: smooth;
    overflow-y: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.body::-webkit-scrollbar {
    display: none;
}

.content {
    width: 77%;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(8, minmax(65px, 1fr)) / 2fr 2fr 2.5fr 1.5fr;
    grid-template-areas:
    'academy js php php'
    'academy js php php'
    'academy js php php'
    'academy js net events'
    'qa js net events'
    'qa js net blog'
    'qa java net blog'
    'qa java net contacts';
}

.footer {
    align-self: end;
    padding-bottom: 3vh;
    text-align: center;
}

.back {
    background-color: #ffffff;
}

img.logo {
    vertical-align: middle;
    max-width: 70%;
}

.academy {
    grid-area: academy;
}

.academy .front {
    background-color: white;
    white-space: nowrap;
    text-align: center;
}

.qa {
    grid-area: qa;
}

.qa .front {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #52bf77;
    font-weight: 500;
    font-size: 5vw;
    color: white;
}

.js {
    grid-area: js;
}

.js .front {
    content: "J ";
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #f7cf69;
    font-weight: bold;
    font-size: 5vw;
}

.js .front span {
    padding-right: .1em;
}

.java {
    grid-area: java;
}

.java .front {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e12b4c;
    font-weight: 500;
    font-size: 3vw;
    color: white;
}

.php {
    grid-area: php;
}

.php .front {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8893c0;
    font-style: italic;
    font-size: 5vw;
    font-weight: 500;
}

.net {
    grid-area: net;
}

.net .front {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #642077;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 5vw;
    color: white;
}

.events .front,
.blog .front,
.contacts .front {
    font-size: 1.3vw;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events {
    grid-area: events;
}

.events .front {
    background-color: #2d99ff;
}

.blog {
    grid-area: blog;
}

.blog .front {
    background-color: #0443a3;
}

.contacts {
    grid-area: contacts;
}

.contacts .front {
    background-color: #00265f;
}

.flip-container {
    background-color: transparent;
    perspective: 2000px;
}

.flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.7s ease-in;
    transform-style: preserve-3d;
}

.flip-inner:hover {
    transform: rotateY(180deg);
}

.back,
.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.nav-menu-wrapper {
    cursor: pointer;
    width: 35px;
    height: 35px;
    grid-column: 17;
    align-self: center;
    justify-self: end;
}

.menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fff;
    line-height: 35px;
    outline: 0;
    text-align: center;
    background-color: orange;
    font-size: large;
}

.menu:focus {
    pointer-events: none;
}

.menu:focus .menu-dropdown {
    opacity: 1;
    visibility: visible;
}

.menu-dropdown {
    background-color: #ffffff;
    box-shadow: 10px 10px 41px 0 rgba(0, 0, 0, 0.75);
    width: 12rem;
    line-height: normal;
    padding: 1rem;
    right: 11%;
    top: 5.6%;
    pointer-events: auto;
    position: absolute;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: visibility 1s;
}

.menu-dropdown div {
    font-size: .95em;
    margin-top: .4rem;
    text-align: left;
    color: #000;
}

.line {
    height: 2px;
    border-width: 0;
    color: gray;
    background-color: #abb4be;
}

span.username {
    font-size: 0.9em;
    color: #abb4be;
    text-align: center;
}

.svg-container {
    display: flex;
    align-items: center;
    grid-column: 16;
    height: 100%;
    justify-self: end;
}

#svg-1 {
    height: 20px;
    margin: 0 auto;
    display: block;
    fill: #bec9da;
    cursor: pointer;
}

#svg-1:hover {
    fill: #8f99a4;
}

img.nav-logo {
    grid-column: 4;
    height: 42px;
    margin-left: 5%;
}

@media (max-width: 1200px) {
    .content {
        grid-template: repeat(16, minmax(60px, 1fr)) / repeat(2, 1fr);
        grid-template-areas:
        'academy js'
        'academy js'
        'academy js'
        'academy js'
        'qa js'
        'qa js'
        'qa java'
        'qa java'
        'php php'
        'php php'
        'php php'
        'net events'
        'net events'
        'net blog'
        'net blog'
        'net contacts';
    }
}
