html,
body {
  height: 100%;
  margin: 0;
  background-color: #f8f9fc;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

.container {
  display: grid;
  grid-template: repeat(8, 1fr) / 2fr 2fr 2.5fr 1.5fr;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  width: 72%;
  height: 70%;
}

.back {
  background-color: #ffffff;
}

.footer {
  width: 100%;
  height: 28px;
  position: absolute;
  bottom: 0px;
  text-align: center;
}

img.logo {
  vertical-align: middle;
  max-width: 70%;
}

.academy {
  grid-area: 1/1/5/2;
}

.academy .front {
  background-color: white;
  white-space: nowrap;
  text-align: center;
}

.qa {
  grid-area: 5/1/9/2;
}

.qa .front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #52bf77;
  font-weight: 500;
  font-size: 5vw;
  color: white;
}

.js {
  grid-area: 1/2/7/3;
}

.js .front {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #f7cf69;
  font-weight: bold;
  font-size: 5vw;
  padding-right: 0.1em;
}

.java {
  grid-area: 7/2/9/3;
}

.java .front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e12b4c;
  font-weight: 500;
  font-size: 3vw;
  color: white;
}

.php {
  grid-area: 1/3/4/5;
}

.php .front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8893c0;
  font-style: italic;
  font-size: 5vw;
  font-weight: 500;
}

.net {
  grid-area: 4/3/9/4;
}

.net .front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #642077;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 5vw;
  color: white;
}

.events .front,
.blog .front,
.contacts .front {
  font-size: 1.3vw;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events {
  grid-area: 4/4/6/5;
}

.events .front {
  background-color: #2d99ff;
}

.blog {
  grid-area: 6/4/8/5;
}

.blog .front {
  background-color: #0443a3;
}

.contacts {
  grid-area: 8/4/9/5;
}

.contacts .front {
  background-color: #00265f;
}

.flip-container {
  background-color: transparent;
  perspective: 2000px;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.7s ease-in;
  transform-style: preserve-3d;
}

.flip-inner:hover {
  transform: rotateY(180deg);
}

.back,
.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.navbar {
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

.nav-menu-wrapper {
  width: 35px;
  height: 35px;
  grid-column: 17;
  align-self: center;
  justify-self: end;
}

.menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  line-height: 35px;
  outline: 0;
  text-align: center;
  background-color: orange;
  font-size: large;
}

.menu:focus {
  pointer-events: none;
}

.menu:focus .menu-dropdown {
  opacity: 1;
  visibility: visible;
}

.menu-dropdown {
  background-color: #ffffff;
  box-shadow: 5px 5px 5px 5px grey;
  width: 15%;
  line-height: normal;
  padding: 10px;
  right: 9%;
  top: 6.3%;
  pointer-events: auto;
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: visibility 1s;
}

.menu-dropdown span {
  display: block;
  text-align: left;
  margin-top: 10px;
  color: #000;
}

.line {
  margin: 4px 3px;
  border: 1px solid #abb4be;
  border-radius: 5px;
}

span.username {
  font-size: 0.9em;
  color: #abb4be;
  text-align: center;
}

.svg-container {
  display: flex;
  align-items: center;
  grid-column: 16;
  height: 100%;
  justify-self: start;
}
#svg-1 {
  height: 20px;
  margin: 0 auto;
  display: block;
  fill: grey;
}

img.nav-logo {
  grid-column: 4;
  height: 42px;
  margin-left: 5%;
}
