.header {
    align-items: center;
    user-select: none;
    width: 100%;
    z-index: 2;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    animation: 1s ease-out 0s 1 slideInFromTop;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.nav-menu-wrapper {
    cursor: pointer;
    width: 35px;
    height: 35px;
    grid-column: 18;
    align-self: center;
    justify-self: center;
}

.menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fff;
    line-height: 35px;
    outline: 0;
    text-align: center;
    background-color: orange;
    font-size: large;
}

.menu:focus {
    pointer-events: none;
}

.menu:focus .menu-dropdown {
    visibility: visible;
    opacity: 1;
}

.menu-dropdown {
    visibility: hidden;
    opacity: 0;
    background-color: #ffffff;
    width: 12em;
    box-shadow: 0 0 35px 6px rgba(163, 163, 163, 0.6);
    border-radius: 5px;
    line-height: normal;
    padding: 1em;
    position: relative;
    right: 12em;
    top: .3em;
    pointer-events: auto;
    z-index: 1;
    transition: all .7s ease;
}

.menu-dropdown .menu-item {
    width: 30%;
    font-size: .92em;
    margin-top: .4em;
    text-align: left;
    color: #000;
    transition: .1s;
}

.menu-item:hover {
    transform: scale(1.05);
}

.line {
    height: 2px;
    border-width: 0;
    color: gray;
    background-color: #abb4be;
}

span.username {
    font-size: 0.9em;
    color: #abb4be;
    text-align: center;
}

.svg-container {
    display: flex;
    align-items: center;
    grid-column: 17;
    height: 100%;
    justify-self: center;
}

#svg-1 {
    height: 20px;
    margin: 0 auto;
    display: block;
    fill: #bec9da;
    cursor: pointer;
}

#svg-1:hover {
    transform: rotate(360deg);
    fill: #8f99a4;
    transition: ease-in-out .75s;
}

img.nav-logo:hover {
    transform: scale(1.12);
}

img.nav-logo {
    grid-column: 3;
    height: 42px;
    transition: ease-in-out .25s;
}

