.body {
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.body::-webkit-scrollbar {
    display: none;
}

.back::-webkit-scrollbar {
    width: .25rem;
}

.back::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 4px;
    outline: 1px solid slategrey;
}
